@model GeloraGorApp.Models.Jadwal

@{
    ViewData["Title"] = "Edit";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h2>Edit</h2>
            <h4 class="text-primary">Order</h4>
        </div>
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="LapanganId" class="control-label"></label>
                    <select asp-for="LapanganId" class="form-control" asp-items="ViewBag.LapanganId"></select>
                    <span asp-validation-for="LapanganId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PegawaiId" class="control-label"></label>
                    <select asp-for="PegawaiId" class="form-control" asp-items="ViewBag.PegawaiId"></select>
                    <span asp-validation-for="PegawaiId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WaktuAwal" class="control-label"></label>
                    <input asp-for="WaktuAwal" class="form-control" />
                    <span asp-validation-for="WaktuAwal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WaktuAkhir" class="control-label"></label>
                    <input asp-for="WaktuAkhir" class="form-control" />
                    <span asp-validation-for="WaktuAkhir" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Catatan" class="control-label"></label>
                    <input asp-for="Catatan" class="form-control" />
                    <span asp-validation-for="Catatan" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-danger" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
